@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --red: #e94040;
  --blue: #67bbef;
  --green: #67d3be;
  --purple: #8a65aa;
  --yellow: #f5bf32;
  --palered: #eb697f;
}
.dark {
  --background: #151515;
  --foreground: #d7d7d7;
  --headings: #ffffff;
  /* replacing with bg-gray-200 dark:bg-gray-800 */
  --gray700: #242424;
  --gray500: #4f4f4f;
  --inverse-bg: #fff;
}
.light {
  --background: #fff;
  --foreground: #151515;
  --headings: #000;
  --gray700: #f4f4f4;
  --gray500: #4f4f4f;
  --inverse-bg: #000;
}

body {
  @apply font-sans bg-background text-foreground transition duration-200 text-lg;
}

h1,
h2,
h3 {
  @apply font-bold text-headings mb-4 mt-6;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

a {
  @apply text-purple-900 hover:text-purple-700 dark:text-purple-100 dark:hover:text-purple-300 hover:underline;
}

p {
  @apply mb-4;
}

p code {
  @apply text-sm text-red dark:text-palered bg-red-50 dark:bg-gray-800 rounded px-1;
}

blockquote {
  @apply bg-gray-200 dark:bg-gray-800 border-l-4 border-foreground rounded rounded-l-none p-4 mb-4;
}

strong {
  @apply font-bold;
}

.nav-item {
  @apply text-headings hover:text-gray-700 focus:text-gray-700 dark:text-headings dark:hover:text-gray-200 dark:focus:text-gray-200 hover:no-underline;
}

.layout {
  @apply grid;
  grid-template-columns: 1fr min(70ch, 100%) 1fr;
  grid-auto-rows: min-content;
}

.layout > * {
  grid-column: 2;
}

.layout > .full-width {
  width: 100%;
  grid-column: 1/4;
}
